* {
    padding: 0;
    margin: 0;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    background-color: rgb(23, 23, 23);
    height: 100vh;
    width: 100vw;

}

/* css for login and signup */
.container {
    margin-top: 10vh;
    max-width: 500px;
    padding: 25px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(32, 30, 30);
    border: none;
    box-shadow: 0px -10px 35px 10px red;
    border-radius: 25px;
}

.container h1 {
    color: rgb(14, 160, 245);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
    padding-top: 50px;
    align-items: center;
    text-align: center;
}

.card button {
    padding: 10px;
    border-radius: 15px;
    border: none;
    width: 20%;
    background-color: green;
    color: white;
    cursor: pointer;
}

.card2 {
    padding-top: 30px;
    align-items: flex;
    color: white;
}

.card2 a {
    color: aqua
}

.input {
    padding: 25px;
    color: black;
}

.input input {
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    font-family: 'Courier New';
    border-color: aqua;
}


.container:hover {
    box-shadow: 0px 20px 35px 0px green;
}

/* css for login and signup ends here */
.rap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.msgcontainer {
    /* background-image: linear-gradient(black,white); */
    height: 60vh;
    width: 70%;
    overflow-y: auto;
    border-style: double;
    margin-top: 60px;
    color: rgb(32, 31, 31);
    background-color: rgb(239, 229, 211);
    border-radius: 10px;
    padding: 30px;
    /* box-shadow: 0px 1px 20px 0px rgb(48, 94, 94); */
}
.usercontiner{
    height: 60vh;
    width: 20%;
    overflow-y: auto;
    border-style: double;
    margin-top: 60px;
    color: rgb(32, 31, 31);
    background-color: rgb(239, 229, 211);
    border-radius: 10px;
    padding: 30px;

}
.user{
    background-color: #a6d2f2;
    padding: 10px;
    border-style: double;
    border-radius: 10px;
    margin: 10px;
    font-size: 1.3rem;
    font-weight: bolder;
    max-width: max-content;
    cursor: pointer;
}


*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background: #aaa;
}

*::-webkit-scrollbar-thumb:hover {
    background: #3289c8;
}

.chatBox {
    align-items: center;
    text-align: center;
    background-color: #4d4a4a;
    position: fixed;
    bottom: 0%;
    left: 0;
    width: 100%;
}

#msgin {
    width: 60%;
    height: 50px;
    margin: 50px auto;
    padding-left: 30px;
    font-size: small;
    font-family: Courier;
    font-size: 1.3rem;
    border-radius: 20px;
    border-style: none;
}


.right {

    width: 90%;
    margin: 30px auto;
    color: rgb(243, 238, 238);
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    
}

.right p{
    background-color: rgb(115, 194, 115);
    border: 2px solid   rgb(96, 157, 96);
    border-radius: 20px;
    padding: 10px;
    width: max-content;
    max-width: 60%;
    text-align: left;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.left {
    width: 90%;
    margin: 30px auto;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;

}
.left p{
    background-color: rgb(89, 89, 95);
    border: 2px solid  rgb(87, 87, 89) ;
    border-radius: 20px;
    padding: 10px;
    width: max-content;
    max-width: 60%;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
p {
    color: white;
}

.send{
    background-color: #00b790;
    padding: 10px;
    border-radius: 45px;
    border-style: none;
    color: white;
    font-size: large;
    border: 2px solid rgb(255, 255, 255);
}
