body {
    background-color: rgb(23, 23, 23);
}

/* css for login and signup */
.container {
    margin-top: 10vh;
    max-width: 500px;
    padding: 25px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(32, 30, 30);
    border: none;
    box-shadow: 0px -10px 35px 10px red;
    border-radius: 25px;
}

.container h1 {
    color: rgb(14, 160, 245);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
    padding-top: 50px;
    align-items: center;
    text-align: center;
}

.card button {
    padding: 10px;
    border-radius: 15px;
    border: none;
    width: 20%;
    background-color: green;
    color: white;
    cursor: pointer;
}

.card2 {
    padding-top: 30px;
    align-items: flex;
    color: white;
}

.card2 a {
    color: aqua
}

.input {
    padding: 25px;
    color: black;
}

.input input {
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    font-family: 'Courier New';
    border-color: aqua;
}


.container:hover {
    box-shadow: 0px 20px 35px 0px green;
}

/* css for login and signup ends here */

.msgcontainer {
    /* background-image: linear-gradient(black,white); */
    min-height: 60vh;
    width: 80%;
    margin: 50px auto;
    overflow-y: auto;
    overflow-x: hidden;
    border-style: double;
    color: rgb(32, 31, 31);
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    /* box-shadow: 0px 1px 20px 0px rgb(48, 94, 94); */
}

*::-webkit-scrollbar {
    width: 3px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background: #aaa;
}

*::-webkit-scrollbar-thumb:hover {
    background: #3289c8;
}

.chatBox {
    align-items: center;
    text-align: center;
    background-color: #4d4a4a;
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
}

#msgin {
    width: 60%;
    height: 50px;
    margin: 50px auto;
    padding-left: 30px;
    font-size: large;
    font-family: Courier;
    border-radius: 20px;
    border-style: none;
}


.right {
    margin-left: 35%;
    color: rgb(0, 0, 0);
    text-align: end;
    align-items: end;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}
.left {
    max-width: 65%;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;

}