<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <dialog>
        
    </dialog>
    <div class="header">
        <div>
            <h1>
                <%=name%>
            </h1>
        </div>
        <div style="display: flex;align-items: center;justify-content: center;">
            <input type="text" placeholder="search for users"></input>
            <button class="send search">Send</button>
        </div>
    </div>
    <div class="rap">
        <div class="usercontiner">

        </div>
        <div class="msgcontainer"></div>
    </div>
    <div class="chatBox">
        <input id="msgin" type="text" placeholder="Enter your Message . . .">
        <button class="send">Send</i>
        </button>
    </div>


    <script src="script.js"></script>
</body>

</html>